/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url("G:\programming\repo\ECommerce\e-commerce-youtube-ui\src\assets\wp2488779.jpg"); }

    
